extends layout

block content
    .mission
      h2 Mission:
    .about-us-container
      p As animal lovers and considerate stewards to our furry friends, our team noticed that the all too common issue of finding boarding our pets while we're away from home could be solved by creating a web app.
      br
      p Our aim is to connect pet owners in an online community and give them the opportunity to seek boarding for their pet and offer boarding to other community members' pets.
      br
      p Pet owners can edit their profiles, add their pets, request help boarding their pet(s), and offer to fulfill other user's request.
      br
    .technologies
      h2 Technologies:
    .technologies-container
      p As students at the 3 month mark of the Full-Stack Web Development course at Galvanize, our second quarter project includes front-end, server and database layers. We used Node.js, PostgreSQL, Pug, jQuery, Express, Knex, and bCrypt.
    .about-the-devs
      h2 Meet the Developers:
    .dev-image
      img(src="https://i.imgur.com/shjvuCl.jpg")
    .dev-name
      h2 Natalie Despain
      center
        hr
    .dev-links
      h4 GitHub:
      |
      a(href="https://github.com/nataliedespain") https://github.com/nataliedespain
      br
      h4 LinkedIn:
      |
      a(href="https://www.linkedin.com/in/natalie-despain/") https://www.linkedin.com/in/natalie-despain/
    .dev-image
      img(src="http://i.imgur.com/r1smrHO.jpg")
    .dev-name
      h2 Dylan Cunningham
      center
        hr
    .dev-links
      h4 GitHub:
      |
      a(href="https://github.com/flacallama") https://github.com/flacallama
      br
      h4 LinkedIn:
      |
      a(href="https://www.linkedin.com/in/dylan-cunningham-b103775/") https://www.linkedin.com/in/dylan-cunningham-b103775/
    .dev-image
      img(src="http://i.imgur.com/d9bz0y3.jpg")
    .dev-name
      h2 Richard Jones
      center
        hr
    .dev-links
      h4 GitHub:
      |
      a(href="https://github.com/MacRJ") https://github.com/MacRJ
      br
      h4 LinkedIn:
      |
      a(href="https://www.linkedin.com/in/richard-jones-19a00a64") https://www.linkedin.com/in/richard-jones-19a00a64
    .dev-image
      img(src="http://i.imgur.com/6cUCmgT.jpg")
    .dev-name
      h2 Samantha McKain
      center
        hr
    .dev-links
      h4 GitHub:
      |
      a(href="https://github.com/smckain96") https://github.com/smckain96
      br
      h4 LinkedIn:
      |
      a(href="https://www.linkedin.com/in/samantha-mckain-69ba14144/") https://github.com/smckain96
  h3 Mission:
  p As animal lovers and considerate stewards to our furry friends, our team noticed that the all too common issue of finding boarding our pets while we're away from home could be solved by creating a web app.
  br
  p Our aim is to connect pet owners in an online community and give them the opportunity to seek boarding for their pet and offer boarding to other community members' pets.
  br
  p Pet owners can edit their profiles, add their pets, request help boarding their pet(s), and offer to fulfill other user's request.
  br
  h3 Technologies:
  p As students at the 3 month mark of the Full-Stack Web Development course at Galvanize, our second quarter project includes front-end, server and database layers. We used Node.js, PostgreSQL, Pug, jQuery, Express, Knex, and bCrypt.
