extends layout

block content
  h3 Mission:
  p As animal lovers and considerate stewards to our furry friends, our team noticed that the all too common issue of finding boarding our pets while we're away from home could be solved by creating a web app.
  br
  p Our aim is to connect pet owners in an online community and give them the opportunity to seek boarding for their pet and offer boarding to other community members' pets.
  br
  p Pet owners can edit their profiles, add their pets, request help boarding their pet(s), and offer to fulfill other user's request.
  br
  h3 Technologies:
  p As students at the 3 month mark of the Full-Stack Web Development course at Galvanize, our second quarter project includes front-end, server and database layers. We used Node.js, PostgreSQL, Pug, jQuery, Express, Knex, and bCrypt.
