extends layout

block content
  .add-a-request
    center
      h1 Add a Request
    form(action="/requests" method="POST")
      .add-a-request-form
        input(type="hidden" value=`${cookie}` name="poster")
        p Add Pet:
        .select
          select(name="pet")
              option(disabled selected) Pets
              each pet in petInfo
                option(value=`${pet.id}`)= pet.pet_name
        p Start Date:
        input(class="datepicker" type="text" name="start")
        p End Date:
        input(class="datepicker" type="text" name="end")
        p Notes:
        textarea(cols="60" rows="7" name="notes")
      .submit-edit
        button(type="submit") Submit!
