extends layout

block content
	if !cookies
		form(method="POST" action="/login")
			input(type="text" name="login")
			input(type="password" name="password")
			button(type="submit") Login!
		a(href="/users/new") Create a New User
	else
		a(href='/logout') Logout
