doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    script(type="text/javascript" src="/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/jquery.cookie.js")
    script(type="text/javascript" src="/javascripts/script.js")
    script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.js")
    script(src="https://use.fontawesome.com/a72723a89d.js")

  body
    .grid
      .header
        .logo
          a(href=`/`)
            img(src="http://i.imgur.com/cUXtvAR.png")

        .links
          if !username
            form(method="POST" action="/login")
              input.login(type="text" name="login" placeholder='Username')
              input.login(type="password" name="password" placeholder='Password')
              button.login(type="submit") Login!
              |
              button.login.create-user: a(href="/users/add") Create a New User
          else
            h3 Welcome, #{username}!
            a(href=`/users/${cookie}`) View Profile &nbsp
            |
            a(href='/logout') | Logout
      .content

      .left-margin
      .right-margin
      .post
        block content
    .footer
