doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/five-star-rating/css/rating.css')
    script(type="text/javascript" src="/five-star-rating/js/src/rating.js")
    script(type="text/javascript" src="/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/jquery.cookie.js")
    script(type="text/javascript" src="/javascripts/script.js")
  body
    block content
