doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/jquery.cookie.js")
    script(type="text/javascript" src="/javascripts/script.js")
  body
    .grid
      .header
        .logo
          img(src="http://i.imgur.com/cUXtvAR.png")
        .links
          login
      .login
      .left-margin
      .right-margin
      .post
        block content
    .footer
