extends layout

block content

  form(action="/users/create" method="POST")
    input(type="text" name="username" placeholder="User Name")
    br
    input(type="text" name="location" placeholder="location")
    br
    textarea(cols="60" rows="7" name="bio" placeholder="Biography")
    br
    input(type="text" name="email" placeholder="email")
    br
    input(type="text" name="phone" placeholder="Phone Number")
    br
    textarea(cols="60" rows="7" name="info" placeholder ="house Information")
    br
    input(type="password" name="password" placeholder="Password")
    input(type="password" name="verify" placeholder="Verify Password")
    button(type="submit") Submit New User
