extends layout

block content
  .add-user
    center
      h1 Create New User
    form(action="/users/add" method="POST")
      .edit-new-form
        .left-form
          p Username:
          input(type="text" name="username")
          p Email:
          input(type="text" name="email")
          p Location:
          input(type="text" name="location")
          p Phone Number:
          input(type="text" name="phone")
          p Password:
          input(type="password" name="password")
          p Confirm Password:
          input(type="password" name="verify")
        .right-form
          p Biography:
          textarea(cols="60" rows="7" name="bio")
          p House Information:
          textarea(cols="60" rows="7" name="info")
      .submit-edit
        button(type="submit") Submit New User
