extends layout

block content

  h2 Edit #{pet.pet_name}
  br

  form(method='post' action=`/pets/${pet.id}/edit`)
    input(type='text' name='name' placeholder='Name')
    br
    input(type='text' name='temperament' placeholder='Temperament')
    br
    input(type='text' name='pic_url' placeholder='Picture')
    br
    input(type='number' name='age' placeholder='Age')
    br
    input(type='text' name='bio' placeholder='Pet bio')
    br
    input(type='text' name='notes' placeholder='Notes')
    br
    button(type='submit') Submit
