extends layout

block content
	.login
		if !cookies
			form(method="POST" action="/login")
				input(type="text" name="login")
				input(type="password" name="password")
				button(type="submit") Login!
			a(href="/users/add") Create a New User
		else
			a(href='/logout') Logout

	.requests
		h1 Requests
		each request in passinData
			.request
				.dog-info
					.dog-picture
					.dog-text
						.dog-name-and-rating
							p= request.pet_name
							p 5
						.request-body
							p= request.notes
								p request.start_date
								p request.end_date
				.requester-info
					.posted-by
						p: a(href=`/users/${request.poster_id}/`)= request.username
					.view-request
						a(href=`/requests/${request.id}`) View Request

				hr

		a(href="/requests/add") Add New Request
