@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,800,900');


* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family:'Muli';
    background-color:#F2F2F2;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

button {
  border-radius: 50px;
  background: none;
  border: none;
}

button:hover {
  background: #E84C3D;
  cursor: pointer;
  color:white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.header, .footer {
  grid-column: 1/6;
  grid-row: 1;
  height:75px;
  background-color: #E84C3D;
  display:flex;
}

.header .logo {
  padding:10px;
}

.logo img {
  width:130px;
  padding-left: 15px;
}




/*REQUESTS PAGE*/
.requests h1 {
  text-align: center;
  padding:20px 0;
  font-weight: 900;
  font-size:2.5em;
}

.requests .request {
  /*display:flex;*/
  width:100%;
  min-height:275px;
  margin:10px 0;
  padding:40px;
  position:relative;
}

.left-margin {
  grid-column: 1/2;
  grid-row:auto;
}

.right-margin {
  grid-column:5/6;
  grid-row:auto;
}

.post {
  grid-column: 2/5;
  grid-row: auto;
  background-color:white;
  min-height:100vh;
}

.dog-info {
  display:flex;
  width:100%;
}

.dog-info .dog-picture {
  width:150px;
  height:150px;
}

.dog-info .dog-text {
  width:85%;
  padding: 0 20px;
}

.request .requester-info {
  display:flex;
}

.request .requester-info .view-request {
  padding: 30px 0;
  width:50%;
  text-align: right;
}

.request .requester-info .posted-by {
  color: #95989A;
}

.posted-by a {
  text-decoration: none
}

.view-request button {
  padding: 10px 20px;
  border: 5px solid #E84C3D;
}

.view-request a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.1em;
}

.view-request button:hover a {
  color: white;
}


.request .requester-info .posted-by {
  padding: 30px 0;
  width:50%;
}

.dog-name-and-rating {
  display: inline-block;
  width: 100%;
  margin-top: 0;
}

.dog-name-and-rating h2 {
  width: 100%;
  font-size: 2em;
}

.dog-name-and-rating span {
  padding: 0 15px;
  color: #B9B9B9;
  font-weight: 100;
  font-size: 1.2em;
}

.dog-name-and-rating img {
  display: inline-block;
  width: 150px;
}

.request-body p {
  padding-top: 25px;
  color: #95989A;
}

.request-body p.notes {
  font-size: 1.2em;
}

.request-body p.dates {
  font-size: 0.9em;
  font-weight: 100;
}





/*SHOW PET PAGE*/
.star {
  width:150px;
}

.pet-page {
  padding: 40px;
}

.pet-page .pet-header {
 text-align: center;
 margin-bottom: 50px
}

.pet-page .pet-header .line {
 width: 50px;
 height: 4px;
 background: black;
 margin: 15px auto;
}

.pet-page .pet-header p {
  color: #95989A;
}

.pet-page .pet-header h1 {
  font-size: 2.5em;
  font-weight: 900;
}

.pet-info-container {
  display:flex;
  width:100%;
}

.pet-info-container .pet-image {
  width:200px;
  height:200px;
  overflow:hidden;
}

.pet-image img {
  width:100%;
}

.pet-info {
  padding-left:20px;
  width:60%;
  height:calc(100% + 200px);
}

.pet-info h2 {
  padding-top: 20px;
}

.pet-info p {
  color: #95989A;
}

.edit-button {
  text-align: right;
}

.edit-button button {
  padding: 10px 20px;
  border: 5px solid #E84C3D;
  margin:10px;
  font-weight:bold;
}

.edit-button a {
  color:black;
}

.edit-button button:hover a {
  color: white;
}

.users-pets {
  font-weight:900;
  font-size:2.5em;
  text-align:center;
  padding-top:20px;
}

.pet-page hr {
  margin:20px 0;
  width:100%;

}

.review-container h1 {
  font-size: 2.5em;
  font-weight: 900;
  float:left;
}

.review-container .average-rating {
  float:right;
}

.review-container .average-rating span {
  margin-top: -10px;
  padding-right:25px;
}

.review-text-container {
  padding-top: 100px;
}

.review-text-container .review span {
  padding: 0 15px;
  color: #B9B9B9;
  font-weight: 100;
  font-size: 1.2em;
}

.review  {
  width:100%;
}

.review p {
  color: #95989A;
  padding:20px 10px;
}

.leave-a-review h1 {
  font-weight:700;
}

.leave-a-review textarea {
  width:100%;
}

.leave-a-review button {
  padding: 10px 20px;
  border: 5px solid #E84C3D;
  font-weight:bold;
  float:right;
  margin:40px;
}

.leave-a-review input[type='number'] {
  font-size:20px;
  width:100px;
  padding:5px;
  margin:15px 0;
  margin-left:20px;
  outline:none;
}

.leave-a-review textarea {
  resize:none;
  outline:none;
  font-size:20px;
  padding:7px;
}

/*USER PAGE*/

.user-page {
  padding:40px;
}

.user-page img {
  width:100%;

}

.user-page .user-header {
  text-align:center;
  margin-bottom:50px;
}

.user-page .user-header h1 {
  font-weight:900;
  font-size:2.5em;
}

.user-page .user-header p {
  color: #95989A;
}

.user-page .user-header .line {
 width: 50px;
 height: 4px;
 background: black;
 margin: 15px auto;
}

.user-info {
  width:70%;
  margin: 0 auto;
}

.user-info p {
  color: #95989A;
  margin-bottom: 15px;
}

.user-info hr {
  width:100%;
  margin:
}

.pet {
  width:100%;
}

.pet .dog-info {
  display:flex;
  width:100%;
}

.pet .dog-info .dog-picture {
  width:150px;
  height:150px;
  overflow:hidden;
}

.pet .dog-info .dog-picture img {
  width:100%;
}

.pet .dog-info .dog-text {
  width:85%;
  padding: 0 20px;
}

.pet .view-pet {
  width:100%;
  text-align:right;
}

.view-pet button {
  padding: 10px 20px;
  border: 5px solid #E84C3D;
  margin:15px 0;
}

.view-pet a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.1em;
}

.view-pet button:hover a {
  color: white;
}

.dog-name-and-rating {
  display: inline-block;
  width: 100%;
  margin-top: 0;
}

.dog-name-and-rating h2 {
  width: 100%;
  font-size: 2em;
}

.dog-name-and-rating span {
  padding: 0 15px;
  color: #B9B9B9;
  font-weight: 100;
  font-size: 1.2em;
}

.dog-name-and-rating img {
  display: inline-block;
  width: 150px;
}

.pet-body p {
  padding:5px 0;
  color: #95989A;
}

.pet-body .pet-bio {
  color:black;
}

.user-page .pet {
  width:100%;
  min-height:275px;
  margin:10px 0;
  padding:40px;
  position:relative;
}

.add-pet {
  text-align:right;
}

.add-pet button {
  padding: 10px 20px;
  border: 5px solid #E84C3D;
  margin:15px 30px;
}

.add-pet button a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.1em;
}

.add-pet button:hover a {
  color: white;
}

.user-page .star {
  width: 150px;
}

.leave-a-review h1 {
  margin: 20px 0;
}

button.add-review {
  font-size:0.8em;
  font-weight: 900;
}
