body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: auto;
}
.header {
  grid-column: 1/4;
  grid-row: 1;
  background-color: #E84C3D;
}

.login {
  grid-column: 3/4;
  grid-row: 2;
}

.post {
  grid-column: 2/3;
  grid-row: auto;
}
